body{
	background: grey;
}

header{
	font-family: Times;
	border: solid;
	border-color: white;
	background: #ffffff;
}

h1{
	font-family: Georgia;
	font-size: 30px;
	display: inline;
	padding: 0px 0px 100px 50px;
}

nav ul li{
	display: inline-block;
	border: solid;
	border-color: #ffffff;
	position: relative;
	top: 0px;
	left: 1200px;
	padding: 10px;
}

h2+h3{

}

p{

}

img{
	width:200px; height:200px;
}

footer{
	background: #666666;
}